In [179]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn import metrics, linear_model, model_selection

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [180]:
# Read the CSV file
url = 'https://raw.githubusercontent.com/iatecookies/BachelorThesis/main/survey.csv'
df = pd.read_csv(filepath_or_buffer=url, header=0, index_col=0)

# PREPROCESSING

# Remove the first two rows
df = df.iloc[3:]

# index of dataframe represents a start date. Replaced with sequantial numeric index
df.reset_index(drop=True, inplace=True)

df.head()

,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,...,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23
0,2023-06-27 05:43:53,IP Address,94.63.88.205,100,162,True,2023-06-27 05:43:53,R_2qqiiUIZB7C86i1,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,Bachelor's degree,Working full-time,Walking,NaN,5de78fbbd7b2a0000bc2df59
1,2023-06-27 05:44:10,IP Address,146.198.45.107,100,189,True,2023-06-27 05:44:11,R_3FUTMLBYBJ8JME3,NaN,NaN,...,Scenario 1,Male,35-44 years old,United Kingdom of Great Britain and Northern I...,Rural,Bachelor's degree,Working full-time,Car,NaN,5c6ddaefdf677d00013fa313
2,2023-06-27 05:44:37,IP Address,163.158.111.63,100,125,True,2023-06-27 05:44:38,R_1pF4y9jkmvjeoBP,NaN,NaN,...,Scenario 1,Female,25-34 years old,Netherlands,City,Bachelor's degree,Working full-time,Car,NaN,60216ae272e775127f1ecd1f
3,2023-06-27 05:45:19,IP Address,82.26.181.154,100,213,True,2023-06-27 05:45:20,R_32VElPHHT1qpL7w,NaN,NaN,...,Scenario 1,Female,18-24 years old,United Kingdom of Great Britain and Northern I...,City,High school diploma or equivalent,Student,"Public transportation (bus, train, subway, etc)",I picked what was most pleasant for me,5df119cae3cc5b012d81f64b
4,2023-06-27 05:46:20,IP Address,95.108.58.252,100,166,True,2023-06-27 05:46:21,R_1gzkDAWpa1ZtqQ0,NaN,NaN,...,Scenario 1,Male,18-24 years old,Poland,City,Bachelor's degree,Working part-time,"Public transportation (bus, train, subway, etc)",NaN,5ea9c1f55ce96d106af147a7

In [148]:
df

,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,...,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23
0,2023-06-27 05:43:53,IP Address,94.63.88.205,100,162,True,2023-06-27 05:43:53,R_2qqiiUIZB7C86i1,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,Bachelor's degree,Working full-time,Walking,NaN,5de78fbbd7b2a0000bc2df59
1,2023-06-27 05:44:10,IP Address,146.198.45.107,100,189,True,2023-06-27 05:44:11,R_3FUTMLBYBJ8JME3,NaN,NaN,...,Scenario 1,Male,35-44 years old,United Kingdom of Great Britain and Northern I...,Rural,Bachelor's degree,Working full-time,Car,NaN,5c6ddaefdf677d00013fa313
2,2023-06-27 05:44:37,IP Address,163.158.111.63,100,125,True,2023-06-27 05:44:38,R_1pF4y9jkmvjeoBP,NaN,NaN,...,Scenario 1,Female,25-34 years old,Netherlands,City,Bachelor's degree,Working full-time,Car,NaN,60216ae272e775127f1ecd1f
3,2023-06-27 05:45:19,IP Address,82.26.181.154,100,213,True,2023-06-27 05:45:20,R_32VElPHHT1qpL7w,NaN,NaN,...,Scenario 1,Female,18-24 years old,United Kingdom of Great Britain and Northern I...,City,High school diploma or equivalent,Student,"Public transportation (bus, train, subway, etc)",I picked what was most pleasant for me,5df119cae3cc5b012d81f64b
4,2023-06-27 05:46:20,IP Address,95.108.58.252,100,166,True,2023-06-27 05:46:21,R_1gzkDAWpa1ZtqQ0,NaN,NaN,...,Scenario 1,Male,18-24 years old,Poland,City,Bachelor's degree,Working part-time,"Public transportation (bus, train, subway, etc)",NaN,5ea9c1f55ce96d106af147a7
5,2023-06-27 05:46:38,IP Address,195.238.185.109,100,274,True,2023-06-27 05:46:38,R_1XNLB4xrtHczkWt,NaN,NaN,...,Scenario 1,Male,25-34 years old,Poland,City,Bachelor's degree,Working full-time,Car,NaN,5bba23a6f2aee50001c88d11
6,2023-06-27 05:46:39,IP Address,5.249.81.196,100,141,True,2023-06-27 05:46:40,R_2q90HyjPerSN69q,NaN,NaN,...,Scenario 1,Male,18-24 years old,Portugal,City,Master's degree,Student,"Public transportation (bus, train, subway, etc)",NaN,612ccc537fd00ae8b3e8b95f
7,2023-06-27 05:47:13,IP Address,94.60.196.199,100,194,True,2023-06-27 05:47:14,R_2QDnDsWER9XERGD,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,High school diploma or equivalent,Working full-time,Walking,NaN,5cc1e06fda600e0019981f0f
8,2023-06-27 05:47:24,IP Address,85.5.214.95,100,287,True,2023-06-27 05:47:25,R_2CkTiRgZ9Z74icw,NaN,NaN,...,Scenario 1,Female,18-24 years old,Switzerland,City,Bachelor's degree,Other,"Public transportation (bus, train, subway, etc)",The good weather. It's easier to drive with go...,609303ffc951134a7003e6bb
9,2023-06-27 05:47:36,IP Address,89.155.182.185,100,151,True,2023-06-27 05:47:37,R_3PoDFQL5aORMuZj,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,High school diploma or equivalent,Working full-time,Car,NaN,5f6ab630339f67193e8b487f
10,2023-06-27 05:47:56,IP Address,95.136.32.63,100,257,True,2023-06-27 05:47:57,R_1CJfsBWG2sNdLlJ,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,Bachelor's degree,Working full-time,Car,NaN,616af671eb2b0b1ca4947cff
11,2023-06-27 05:48:16,IP Address,88.156.143.50,100,195,True,2023-06-27 05:48:17,R_SZh9WxF51pbe4iR,NaN,NaN,...,Scenario 1,Male,18-24 years old,Poland,City,High school diploma or equivalent,Working part-time,"Public transportation (bus, train, subway, etc)",NaN,5d24cb1417b7100019b5d319
12,2023-06-27 05:48:33,IP Address,213.228.157.111,100,162,True,2023-06-27 05:48:34,R_3po6A3Xb9lbnfET,NaN,NaN,...,Scenario 1,Male,35-44 years old,Portugal,City,Master's degree,Working full-time,Walking,NaN,5bf8868cdb80b20001789262
13,2023-06-27 05:48:34,IP Address,87.61.103.155,100,356,True,2023-06-27 05:48:35,R_1igRcbElZR9wE44,NaN,NaN,...,Scenario 1,Male,55-64 years old,Denmark,Rural,High school diploma or equivalent,A homemaker or stay-at-home parent,Bicycle,"more customers, more profit",578e215abaec1b0001697778
14,2023-06-27 05:48:52,IP Address,212.3.210.177,100,405,True,2023-06-27 05:48:53,R_3fCtzYVM789uWHT,NaN,NaN,...,Scenario 1,Female,25-34 years old,Latvia,City,Bachelor's degree,Working full-time,Walking,Money and good weather/traffic conditions,5eb86296a7371b0bc856c1fa
15,2023-06-27 05:48:54,IP Address,93.108.38.8,100,223,True,2023-06-27 05:48:55,R_u3nqy7TRRcnf5lv,NaN,NaN,...,Scenario 1,Female,35-44 years old,Portugal,City,Master's degree,Working full-time,Car,NaN,6152d0b606c0aa99796c7f74
16,2023-06-27 05:49:18,IP Address,109.178.233.76,100,277,True,2023-06-27 05:49:19,R_2TXcP8GaNjnhmHk,NaN,NaN,...,Scenario 1,Male,18-24 years old,Greece,City,Bachelor's degree,Student,Walking,"Better compensation, reducing every day strain...",5d77bc0a4503c30001c724b8
17,2023-06-27 05:49:23,IP Address,91.235.230.79,100,233,True,2023-06-27 05:49:24,R_3HttT3usPT60tOh,NaN,NaN,...,Scenario 1,Male,18-24 years old,Poland,City,Associate's degree or vocational certification,Student,Car,"What influences our decisions the most. Money,...",6032ff8864a0343941c4e8eb
18,2023-06-27 05:49:38,IP Address,46.205.215.62,100,280,True,2023-06-27 05:49:39,R_1PRSrMgJxpgsq6r,NaN,NaN,...,Scenario 1,Female,18-24 years old,Poland,City,Bachelor's degree,Working part-time,Walking,NaN,60f150dd96da0e53dafc3d4f
19,2023-06-27 05:49:42,IP Address,83.26.154.227,100,299,True,2023-06-27 05:49:43,R_3fK6yisVkVgTBkv,NaN,NaN,...,Scenario 1,Female,25-34 years old,Poland,City,High school diploma or equivalent,Unemployed and looking for work,Bicycle,NaN,5c4f4ce19eeaf00001598126
20,2023-06-27 05:49:48,IP Address,94.63.97.86,100,210,True,2023-06-27 05:49:48,R_1MTkUalUZg02OhB,NaN,NaN,...,Scenario 1,Male,25-34 years old,Portugal,City,Associate's degree or vocational certification,Other,Car,I value rewards and conditions over the rest,5f008bb06e7dc419c43ee3e9
21,2023-06-27 05:50:12,IP Address,46.109.239.208,100,262,True,2023-06-27 05:50:13,R_2pRBIgpoLmvDobm,NaN,NaN,...,Scenario 1,Female,18-24 years old,Latvia,Rural,Associate's degree or vocational certification,Working part-time,Car,made them based on my personal feelings,5b2e7ece975e260001e921b7
22,2023-06-27 05:50:19,IP Address,83.144.190.205,100,232,True,2023-06-27 05:50:20,R_tYXDfVJCGdpeS6R,NaN,NaN,...,Scenario 1,Male,18-24 years old,Portugal,Rural,Bachelor's degree,Student,"Public transportation (bus, train, subway, etc)",NaN,5e3d8c9f7695150442c45253
23,2023-06-27 05:50:21,IP Address,92.178.210.180,100,242,True,2023-06-27 05:50:22,R_1dgbKAXpaPrVDH0,NaN,NaN,...,Scenario 1,Female,55-64 years old,Spain,City,Associate's degree or vocational certification,Working part-time,"Public transportation (bus, train, subway, etc)",NaN,60fd6968ca3c5db3ab68c13b
24,2023-06-27 05:50:23,IP Address,89.114.14.155,100,508,True,2023-06-27 05:50:24,R_1nT5otiRVmmMmia,NaN,NaN,...,Scenario 1,Female,18-24 years old,Portugal,City,Bachelor's degree,Student,Car,because i hate traffic,645265417a97ef58c3bfa147
25,2023-06-27 05:50:58,IP Address,77.254.233.175,100,296,True,2023-06-27 05:50:59,R_3LXqFHRNK2rhmmr,NaN,NaN,...,Scenario 1,Female,18-24 years old,Poland,City,Bachelor's degree,Student,Bicycle,NaN,615a0033b998aa8e69c9c84e
26,2023-06-27 05:51:59,IP Address,89.247.173.114,100,348,True,2023-06-27 05:52:00,R_2dzq6VHM5Toc4BF,NaN,NaN,...,Scenario 1,Female,25-34 years old,Germany,City,Bachelor's degree,Working full-time,Bicycle,Delivering packages in lovely weather is easie...,6431f1ee68699c2ae4f48b79
27,2023-06-27 05:54:39,IP Address,144.64.21.25,100,562,True,2023-06-27 05:54:39,R_3Oc8NFEq9wyr9iz,NaN,NaN,...,Scenario 1,Female,35-44 years old,Portugal,City,Master's degree,Working full-time,Car,"In the options that only had the amount paid, ...",5ce2a924feca320001f93ee7
28,2023-06-27 05:58:13,IP Address,109.146.89.80,100,720,True,2023-06-27 05:58:14,R_25vKj4MOjdk19e9,NaN,NaN,...,Scenario 1,Female,25-34 years old,United Kingdom of Great Britain and Northern I...,Rural,Bachelor's degree,Unemployed and looking for work,Walking,NaN,614f0c9b83250af5b20f110b
29,2023-06-27 05:59:03,IP Address,83.26.141.227,100,1020,True,2023-06-27 05:59:04,R_1onKunurMUNpf2m,NaN,NaN,...,Scenario 1,Male,18-24 years old,Poland,City,High school diploma or equivalent,Student,Car,fun and earning,5eb40e49245b8622104636ec

In [163]:
# Only question 1

df_question1 = df.iloc[:, 16: 17]

# Create a new dataset with Factor1, Factor2, Factor3, and Target Question (Q1)
new_dataset = pd.DataFrame(columns=['Factor1', 'Factor2', 'Factor3', 'Target_Question'])

# new dataset starts as object with datatype per default
new_dataset['Factor1'] = new_dataset['Factor1'].astype(int)
new_dataset['Factor2'] = new_dataset['Factor2'].astype(int)
new_dataset['Factor3'] = new_dataset['Factor3'].astype(int)
new_dataset['Target_Question'] = new_dataset['Target_Question'].astype(int)

# Iterate over each row in the original dataset
for index, row in df_question1.iterrows():
    
    if row.item() == 'Scenario 1':

        #Map scenario A to 0 and scenario B to 1
        new_row = {'Factor1': 0, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 0}
    else:
        new_row = {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}
    new_dataset = new_dataset.append(new_row, ignore_index=True)
    
#print(new_dataset)

#print(new_dataset.info())

In [164]:
X = new_dataset[['Factor1', 'Factor2', 'Factor3']]
y = new_dataset['Target_Question']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict the target variable for the test data
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [197]:
# Now for all the questions

scenario_rows = {
    1: {'Scenario 1': {'Factor1': 0, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    2: {'Scenario 1': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 1, 'Factor3': 1, 'Target_Question': 1}},
    3: {'Scenario 1': {'Factor1': 0, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 1, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    4: {'Scenario 1': {'Factor1': 0, 'Factor2': 1, 'Factor3': 1, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    5: {'Scenario 1': {'Factor1': 1, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    6: {'Scenario 1': {'Factor1': 0, 'Factor2': 0, 'Factor3': 1, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    7: {'Scenario 1': {'Factor1': 1, 'Factor2': 1, 'Factor3': 1, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    8: {'Scenario 1': {'Factor1': 0, 'Factor2': 0, 'Factor3': 1, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 1}},
    9: {'Scenario 1': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 1, 'Target_Question': 1}},
    10: {'Scenario 1': {'Factor1': 1, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    11: {'Scenario 1': {'Factor1': 1, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 1, 'Target_Question': 1}},
    12: {'Scenario 1': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 1, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    13: {'Scenario 1': {'Factor1': 0, 'Factor2': 1, 'Factor3': 0, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
    14: {'Scenario 1': {'Factor1': 1, 'Factor2': 1, 'Factor3': 1, 'Target_Question': 0},
        'Scenario 2': {'Factor1': 0, 'Factor2': 0, 'Factor3': 0, 'Target_Question': 1}},
}


for i in range (1, 15):
    
    try: 
        
        df_question = df.iloc[:, 15+i: 16+i]
        print("Question", i )
        #print(df_question)

        # Create a new dataset with Factor1, Factor2, Factor3, and Target Question (Q1)
        new_dataset = pd.DataFrame(columns=['Factor1', 'Factor2', 'Factor3', 'Target_Question'])

        # new dataset starts as object with datatype per default
        new_dataset['Factor1'] = new_dataset['Factor1'].astype(int)
        new_dataset['Factor2'] = new_dataset['Factor2'].astype(int)
        new_dataset['Factor3'] = new_dataset['Factor3'].astype(int)
        new_dataset['Target_Question'] = new_dataset['Target_Question'].astype(int)


        # Iterate over each row in the original dataset
        for index, row in df_question.iterrows():

            scenario = row.item()

            new_row = scenario_rows[i][scenario]

            new_dataset = new_dataset.append(new_row, ignore_index=True)

        #print(new_dataset)
        
        X = new_dataset[['Factor1', 'Factor2', 'Factor3']]
        y = new_dataset['Target_Question']

        # Split the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        # Initialize the multinomial logistic regression model
        model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

        # Fit the model on the training data
        model.fit(X_train, y_train)

        # Predict the target variable for the test data
        y_pred = model.predict(X_test)
        

        # Evaluate the model
        accuracy = model.score(X_test, y_test)
        print("Mean accuracy:", accuracy)
        accuracies.append(accuracy)
        
        prob = model.predict_proba(X)
        print("Mean predicted probabilities of each class:", np.mean(prob, axis= 0))
        print("Standard deviation predicted probabilities of each class:", np.std(prob, axis= 0))
        
        
        
        #Compare the predicted labels to the true labels and use one of the measures to quantify how well the model is doing.
        print(sklearn.metrics.classification_report(y_test, y_pred))
        print(pd.crosstab(y_test, y_pred, rownames=['ACTUAL'], colnames=['PREDICTED'], margins=True))
        
        print()
        print()
    except ValueError as err:
        print(err)

Question 1
Mean accuracy: 1.0
Mean predicted probabilities of each class: [0.95941687 0.04058313]
Standard deviation predicted probabilities of each class: [0.02332708 0.02332708]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

PREDICTED  0  All
ACTUAL
0          6    6
All        6    6


Question 2
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1
Question 3
Mean accuracy: 1.0
Mean predicted probabilities of each class: [0.89092511 0.10907489]
Standard deviation predicted probabilities of each class: [0.19110694 0.19110694]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

PREDICTED  0  All
ACTUAL
0          6    6
All        6    6


Question 4
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0
Question 5
Mean accuracy: 1.0
Mean predicted probabilities of each class: [0.95941687 0.04058313]
Standard deviation predicted probabilities of each class: [0.02332708 0.02332708]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

PREDICTED  0  All
ACTUAL
0          6    6
All        6    6


Question 6
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0
Question 7
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0
Question 8
Mean accuracy: 1.0
Mean predicted probabilities of each class: [0.25128082 0.74871918]
Standard deviation predicted probabilities of each class: [0.32556495 0.32556495]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         3

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

PREDICTED  0  1  All
ACTUAL
0          3  0    3
1          0  3    3
All        3  3    6


Question 9
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1
Question 10
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0
Question 11
Mean accuracy: 1.0
Mean predicted probabilities of each class: [0.71190873 0.28809127]
Standard deviation predicted probabilities of each class: [0.34914391 0.34914391]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         3

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

PREDICTED  0  1  All
ACTUAL
0          3  0    3
1          0  3    3
All        3  3    6


Question 12
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1
Question 13
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0
Question 14
This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0